@import url("Colour.css");
@import url("Navbar.css");

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* font-family: "Alegreya"; */
}
.home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.faq-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.faq-question {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}

.faq-answer {
  color: #333;
  text-align: justify;
  font-size: large;
  line-height: 1.6;
}


.teamcards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 20px;
  flex: 1 0 10%; /* flex-grow | flex-shrink | flex-basis */
  box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.2);
  transition: 0.3s;
  /* border-radius: 5px solid black; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.397);
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

/* .card-body {
  padding: 2px 16px;
}

.card-text {
  margin-bottom: 15px;
} */

.card-text a {
  color: #333;
  text-decoration: none;
}

.link-images img {
  width: 15%;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
}