@import url("Colour.css");
@import url("Navbar.css");


body {
  /* margin: 0; */
  /* font-family: Arial, sans-serif; */
  background-color: #FFF2D7;
}



.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: black;
  /* color: var(--rcbred); */
}

.home-header {
  /* margin-top: 20px; */
  color: #000c8b;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-item {
  position: relative; /* Add this line */
  width: 50%;
  margin-bottom: 20px;
  background-color: #FED8B1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.faq-item:hover {
  transform: translateY(-5px);
}

.faq-question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 1em;
}

.down-arrow {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  color: #8b0000;
  font-size: 1.2em;
}
