.confirm-container {
  max-width: 600px; /* Adjust the max-width to your desired value */
  margin: 0 auto; /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: black;
}

.highlighted-text {
  
  color: #8b0000;
}

.confirm-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.confirm-container h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.match-details-card {
  background-color: #FED8B1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.back-to-home {
  background-color: #8b0000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-to-home:hover {
  background-color: #ff4500;
}
