/* Dashboard.css */
@import url("Colour.css");

  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: black;
  }
  
  .dashboard-content {
    width: 80%;
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #8b0000;
  }
  
  .dashboard-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #8b0000;
  }
  
  .dashboard-content p {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .dashboard-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-content li {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  