@import url("Colour.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");
@import url('https://fonts.googleapis.com/css?family=Alegreya');



  .navbar {
  font-family: "Alegreya";
  width: 98%;
  background-color: var(--navyblue);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px black;
  border-radius: 10px;
  flex-wrap: wrap;
}

.navbar-logo {
  font-size: 2em;
  color: var(--grayish);
  padding-left: 10px;
  align-items: center;
}

.navbar-links {
  padding-left: 20px;
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-links li {
  margin: 10px solid black;
}

.navbar-links a {
  color: var(--grayish);
  font-size: 1.3em;
  transition: color 0.3s ease;
  text-decoration: none;
  border: 1px solid var(--grayish);
  /* border-color: var(--rcbyellow); */
  padding: 3px 8px;
  border-radius: 10px;
}

.navbar-links a:hover {
  background-color: var(--rcbyellow); /* Solid yellow on hover */
  border: 1px solid var(--rcbyellow);
  color: black;
  transform: rotate(90deg);
  transition: color 1s ease;
}

/* login logo */

.navbar-login {
  position:'absolute';
  right:'0';
  align-items :'center'; 
  text-align :'right';
  padding:'50px'
}

.navbar-login button{
  background-color: var(--cskyellow--);
  border: 1px solid black;
  /* width: 100px; */
  align-items: center;
  text-align: center;

}

.navbar-login button:hover {
  color:var(--rcbredhh);
  transition: color 0.5s ease;
}

.navbar-login a {
  text-decoration: none;
  color: var(--rcbred);
  font-size: 1em;
  transition: color 0.3s ease;
}


.dropdown {
  position: relative;
  align-items: center;
  padding: 5px;
  
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute; /* Use absolute positioning within a relatively positioned parent */
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  top: 100%; /* Position it just below the button */
  right: 0; /* Align it to the right edge of the parent container */
  max-width: calc(100vw - 20px); /* Ensure it does not exceed the viewport width */
  width: fit-content;
  overflow: auto; /* Add scrolling if content exceeds available space */
}

.connect-wallet-button {
  background-color: var(--cskyellow--);
  /* border: 1px solid rgb(255, 0, 0); */
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  color: var(--navyblue);

}


.dropdown-content a {
  color: var(--navyblue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.drop-img {
  height: 30px;
  margin-right: 10px;
}

.dropdown-content a:hover {
  background-color: var(--cskyellow--);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-logo-image {
  max-width: 50px;
  min-width: 20px;
}