@import url("Colour.css");

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 30px;
}

.register-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  font-size: 1.5em;
  color: #8b0000;
  margin-bottom: 20px;
  text-align: center;
}

.register-form label {
  display: block;
  margin-bottom: 10px;
  justify-content: center;
  /* padding: 10px; */
}

.register-form input {
  width: 95%;
  padding: 10px;
  border: 1px solid var(--grayish);
  justify-content: center;

  border-radius: 5px;
}

.register-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #8b0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman';
}

.register-form button:hover {
  background-color: #ff4500;
}


.sort-dropdown {
  padding: 8px;
  /* font-size: 14px; */
  border-radius: 2px;
  border: 1px solid var(--grayish);
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 0.9em;
  border-radius: 7px;
  margin-left: 20px;
  font-family: 'Times New Roman';
}

